
body {
 background-color: rgb(198, 130, 238);
 font-family: Lucida Calligraphy; 
}
p {
    color: #333333;
    padding-right: 30px;
    padding-left: 30px;
}

#poster {
  width: 200px;
  transform: rotate(90deg);
}

#globe {
  width: 200px;
}

#kedgeree {
    width: 400px;
}

#mushroom {
  width: 400px;
}

#chicken {
  width: 400px;
}

#shepardspie {
  width: 400px;
}

#battenburg {
  width: 400px;
}

#treacle {
  width: 400px;
}

#jamtarts {
  width: 400px;
}

#onionsoup {
  width: 400px;
  transform: rotate(90deg);
  padding-top: 100px;
}

#cookie {
    width: 400px;
    transform: rotate(90deg);
    padding-top: 100px;
}

#lucy {
  width: 500px;
  transform: rotate(90deg);
  padding-top: 100px;
}

.name {
  font-weight: bold;
}

#status {
  font-family: Edwardian Script ITC;
}
.name {
  color: #660066;
}
.paragraph {
  margin-top: 100px;
  margin-bottom: 100px;
}
p {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  }